.env
node_modules
node_modules/.package-lock.json
node_modules/.bin/jiti
node_modules/.bin/openai
node_modules/.bin/parser
node_modules/.bin/rollup
node_modules/.bin/tailwind
node_modules/.bin/tailwindcss
node_modules/.bin/vite
node_modules/.bin/yaml
node_modules/.vite/deps/_metadata.json
node_modules/.vite/deps/axios.js
node_modules/.vite/deps/axios.js.map
node_modules/.vite/deps/chunk-HKLPI2XQ.js
node_modules/.vite/deps/chunk-HKLPI2XQ.js.map
node_modules/.vite/deps/chunk-YI7ZP7WZ.js
node_modules/.vite/deps/chunk-YI7ZP7WZ.js.map
node_modules/.vite/deps/chunk-ZS7NZCD4.js
node_modules/.vite/deps/chunk-ZS7NZCD4.js.map
node_modules/.vite/deps/openai.js
node_modules/.vite/deps/openai.js.map
node_modules/.vite/deps/react_jsx-dev-runtime.js
node_modules/.vite/deps/react_jsx-dev-runtime.js.map
node_modules/.vite/deps/react_jsx-runtime.js
node_modules/.vite/deps/react_jsx-runtime.js.map
node_modules/.vite/deps/react-dom_client.js
node_modules/.vite/deps/react-dom_client.js.map
node_modules/.vite/deps/react-router-dom.js
node_modules/.vite/deps/react.js
node_modules/.vite/deps/zustand.js
node_modules/.vite/deps/zustand.js.map
node_modules/@babel/code-frame/package.json
node_modules/@babel/code-frame/lib/index.js
node_modules/@babel/code-frame/lib/index.js.map
node_modules/@babel/compat-data/package.json
node_modules/@babel/compat-data/data/corejs2-built-ins.json
node_modules/@babel/compat-data/data/plugins.json
node_modules/@babel/core/package.json
node_modules/@babel/core/lib/index.js
node_modules/@babel/core/lib/index.js.map
node_modules/@babel/core/lib/config/files/module-types.js.map
node_modules/@babel/core/lib/errors/rewrite-stack-trace.js.map
node_modules/@babel/core/lib/parser/index.js.map
node_modules/@babel/core/lib/tools/build-external-helpers.js
node_modules/@babel/core/lib/tools/build-external-helpers.js.map
node_modules/@babel/core/lib/transformation/file/file.js
node_modules/@babel/core/lib/transformation/file/file.js.map
node_modules/@babel/core/lib/vendor/import-meta-resolve.js
node_modules/@babel/core/lib/vendor/import-meta-resolve.js.map
node_modules/@babel/generator/package.json
node_modules/@babel/generator/lib/buffer.js.map
node_modules/@babel/generator/lib/index.js
node_modules/@babel/generator/lib/index.js.map
node_modules/@babel/generator/lib/printer.js.map
node_modules/@babel/generator/lib/generators/classes.js.map
node_modules/@babel/generator/lib/generators/methods.js.map
node_modules/@babel/generator/lib/generators/statements.js.map
node_modules/@babel/generator/lib/generators/template-literals.js
node_modules/@babel/generator/lib/generators/template-literals.js.map
node_modules/@babel/generator/lib/generators/types.js
node_modules/@babel/generator/lib/generators/types.js.map
node_modules/@babel/generator/lib/generators/typescript.js.map
node_modules/@babel/generator/lib/node/whitespace.js.map
node_modules/@babel/helper-compilation-targets/package.json
node_modules/@babel/helper-compilation-targets/lib/debug.js.map
node_modules/@babel/helper-compilation-targets/lib/filter-items.js.map
node_modules/@babel/helper-compilation-targets/lib/index.js.map
node_modules/@babel/helper-compilation-targets/lib/options.js.map
node_modules/@babel/helper-compilation-targets/lib/pretty.js.map
node_modules/@babel/helper-compilation-targets/lib/targets.js.map
node_modules/@babel/helper-compilation-targets/lib/utils.js.map
node_modules/@babel/helper-environment-visitor/package.json
node_modules/@babel/helper-environment-visitor/lib/index.js
node_modules/@babel/helper-environment-visitor/lib/index.js.map
node_modules/@babel/helper-function-name/package.json
node_modules/@babel/helper-function-name/lib/index.js.map
node_modules/@babel/helper-hoist-variables/package.json
node_modules/@babel/helper-hoist-variables/README.md
node_modules/@babel/helper-hoist-variables/lib/index.js.map
node_modules/@babel/helper-module-imports/package.json
node_modules/@babel/helper-module-imports/lib/import-builder.js.map
node_modules/@babel/helper-module-imports/lib/import-injector.js.map
node_modules/@babel/helper-module-transforms/package.json
node_modules/@babel/helper-module-transforms/lib/get-module-name.js.map
node_modules/@babel/helper-module-transforms/lib/index.js.map
node_modules/@babel/helper-module-transforms/lib/normalize-and-load-metadata.js.map
node_modules/@babel/helper-module-transforms/lib/rewrite-live-references.js.map
node_modules/@babel/helper-module-transforms/lib/rewrite-this.js.map
node_modules/@babel/helper-plugin-utils/package.json
node_modules/@babel/helper-plugin-utils/tsconfig.tsbuildinfo
node_modules/@babel/helper-simple-access/package.json
node_modules/@babel/helper-split-export-declaration/package.json
node_modules/@babel/helper-split-export-declaration/lib/index.js.map
node_modules/@babel/helper-string-parser/package.json
node_modules/@babel/helper-string-parser/lib/index.js.map
node_modules/@babel/helper-validator-identifier/package.json
node_modules/@babel/helper-validator-identifier/lib/identifier.js.map
node_modules/@babel/helper-validator-option/package.json
node_modules/@babel/helper-validator-option/lib/find-suggestion.js.map
node_modules/@babel/helper-validator-option/lib/index.js.map
node_modules/@babel/helper-validator-option/lib/validator.js.map
node_modules/@babel/helpers/lib/helpers-generated.js
node_modules/@babel/helpers/lib/helpers-generated.js.map
node_modules/@babel/helpers/lib/helpers.js
node_modules/@babel/helpers/lib/helpers.js.map
node_modules/@babel/helpers/lib/helpers/applyDecs2311.js
node_modules/@babel/helpers/lib/helpers/applyDecs2311.js.map
node_modules/@babel/helpers/lib/helpers/AsyncGenerator.js
node_modules/@babel/helpers/lib/helpers/AsyncGenerator.js.map
node_modules/@babel/helpers/lib/helpers/asyncGeneratorDelegate.js
node_modules/@babel/helpers/lib/helpers/asyncGeneratorDelegate.js.map
node_modules/@babel/helpers/lib/helpers/asyncIterator.js
node_modules/@babel/helpers/lib/helpers/asyncIterator.js.map
node_modules/@babel/helpers/lib/helpers/awaitAsyncGenerator.js
node_modules/@babel/helpers/lib/helpers/awaitAsyncGenerator.js.map
node_modules/@babel/helpers/lib/helpers/OverloadYield.js.map
node_modules/.package-lock.json
node_modules/.bin/jiti
node_modules/.bin/openai
node_modules/.bin/parser
node_modules/.bin/rollup
node_modules/.bin/tailwind
node_modules/.bin/tailwindcss
node_modules/.bin/vite
node_modules/.bin/yaml
node_modules/.vite/deps/_metadata.json
node_modules/.vite/deps/axios.js
node_modules/.vite/deps/axios.js.map
node_modules/.vite/deps/chunk-HKLPI2XQ.js
node_modules/.vite/deps/chunk-HKLPI2XQ.js.map
node_modules/.vite/deps/chunk-YI7ZP7WZ.js
node_modules/.vite/deps/chunk-YI7ZP7WZ.js.map
node_modules/.vite/deps/chunk-ZS7NZCD4.js
node_modules/.vite/deps/chunk-ZS7NZCD4.js.map
node_modules/.vite/deps/openai.js
node_modules/.vite/deps/openai.js.map
node_modules/.vite/deps/react_jsx-dev-runtime.js
node_modules/.vite/deps/react_jsx-dev-runtime.js.map
node_modules/.vite/deps/react_jsx-runtime.js
node_modules/.vite/deps/react_jsx-runtime.js.map
node_modules/.vite/deps/react-dom_client.js
node_modules/.vite/deps/react-dom_client.js.map
node_modules/.vite/deps/react-router-dom.js
node_modules/.vite/deps/react.js
node_modules/.vite/deps/zustand.js
node_modules/.vite/deps/zustand.js.map
node_modules/@babel/code-frame/package.json
node_modules/@babel/code-frame/lib/index.js
node_modules/@babel/code-frame/lib/index.js.map
node_modules/@babel/compat-data/package.json
node_modules/@babel/compat-data/data/corejs2-built-ins.json
node_modules/@babel/compat-data/data/plugins.json
node_modules/@babel/core/package.json
node_modules/@babel/core/lib/index.js
node_modules/@babel/core/lib/index.js.map
node_modules/@babel/core/lib/config/files/module-types.js.map
node_modules/@babel/core/lib/errors/rewrite-stack-trace.js.map
node_modules/@babel/core/lib/parser/index.js.map
node_modules/@babel/core/lib/tools/build-external-helpers.js
node_modules/@babel/core/lib/tools/build-external-helpers.js.map
node_modules/@babel/core/lib/transformation/file/file.js
node_modules/@babel/core/lib/transformation/file/file.js.map
node_modules/@babel/core/lib/vendor/import-meta-resolve.js
node_modules/@babel/core/lib/vendor/import-meta-resolve.js.map
node_modules/@babel/generator/package.json
node_modules/@babel/generator/lib/buffer.js.map
node_modules/@babel/generator/lib/index.js
node_modules/@babel/generator/lib/index.js.map
node_modules/@babel/generator/lib/printer.js.map
node_modules/@babel/generator/lib/generators/classes.js.map
node_modules/@babel/generator/lib/generators/methods.js.map
node_modules/@babel/generator/lib/generators/statements.js.map
node_modules/@babel/generator/lib/generators/template-literals.js
node_modules/@babel/generator/lib/generators/template-literals.js.map
node_modules/@babel/generator/lib/generators/types.js
node_modules/@babel/generator/lib/generators/types.js.map
node_modules/@babel/generator/lib/generators/typescript.js.map
node_modules/@babel/generator/lib/node/whitespace.js.map
node_modules/@babel/helper-compilation-targets/package.json
node_modules/@babel/helper-compilation-targets/lib/debug.js.map
node_modules/@babel/helper-compilation-targets/lib/filter-items.js.map
node_modules/@babel/helper-compilation-targets/lib/index.js.map
node_modules/@babel/helper-compilation-targets/lib/options.js.map
node_modules/@babel/helper-compilation-targets/lib/pretty.js.map
node_modules/@babel/helper-compilation-targets/lib/targets.js.map
node_modules/@babel/helper-compilation-targets/lib/utils.js.map
node_modules/@babel/helper-environment-visitor/package.json
node_modules/@babel/helper-environment-visitor/lib/index.js
node_modules/@babel/helper-environment-visitor/lib/index.js.map
node_modules/@babel/helper-function-name/package.json
node_modules/@babel/helper-function-name/lib/index.js.map
node_modules/@babel/helper-hoist-variables/package.json
node_modules/@babel/helper-hoist-variables/README.md
node_modules/@babel/helper-hoist-variables/lib/index.js.map
node_modules/@babel/helper-module-imports/package.json
node_modules/@babel/helper-module-imports/lib/import-builder.js.map
node_modules/@babel/helper-module-imports/lib/import-injector.js.map
node_modules/@babel/helper-module-transforms/package.json
node_modules/@babel/helper-module-transforms/lib/get-module-name.js.map
node_modules/@babel/helper-module-transforms/lib/index.js.map
node_modules/@babel/helper-module-transforms/lib/normalize-and-load-metadata.js.map
node_modules/@babel/helper-module-transforms/lib/rewrite-live-references.js.map
node_modules/@babel/helper-module-transforms/lib/rewrite-this.js.map
node_modules/@babel/helper-plugin-utils/package.json
node_modules/@babel/helper-plugin-utils/tsconfig.tsbuildinfo
node_modules/@babel/helper-simple-access/package.json
node_modules/@babel/helper-split-export-declaration/package.json
node_modules/@babel/helper-split-export-declaration/lib/index.js.map
node_modules/@babel/helper-string-parser/package.json
node_modules/@babel/helper-string-parser/lib/index.js.map
node_modules/@babel/helper-validator-identifier/package.json
node_modules/@babel/helper-validator-identifier/lib/identifier.js.map
node_modules/@babel/helper-validator-option/package.json
node_modules/@babel/helper-validator-option/lib/find-suggestion.js.map
node_modules/@babel/helper-validator-option/lib/index.js.map
node_modules/@babel/helper-validator-option/lib/validator.js.map
node_modules/@babel/helpers/lib/helpers-generated.js
node_modules/@babel/helpers/lib/helpers-generated.js.map
node_modules/@babel/helpers/lib/helpers.js
node_modules/@babel/helpers/lib/helpers.js.map
node_modules/@babel/helpers/lib/helpers/applyDecs2311.js
node_modules/@babel/helpers/lib/helpers/applyDecs2311.js.map
node_modules/@babel/helpers/lib/helpers/AsyncGenerator.js
node_modules/@babel/helpers/lib/helpers/AsyncGenerator.js.map
node_modules/@babel/helpers/lib/helpers/asyncGeneratorDelegate.js
node_modules/@babel/helpers/lib/helpers/asyncGeneratorDelegate.js.map
node_modules/@babel/helpers/lib/helpers/asyncIterator.js
node_modules/@babel/helpers/lib/helpers/asyncIterator.js.map
node_modules/@babel/helpers/lib/helpers/awaitAsyncGenerator.js
node_modules/@babel/helpers/lib/helpers/awaitAsyncGenerator.js.map
node_modules/@babel/helpers/lib/helpers/OverloadYield.js.map
